/*body{
    align-items:center ;
}
.container{
    width: 90vh;
    height: 90vh;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10;
}
.g{
    border-radius: 10px;
    background: skyblue;
    color: white;
    justify-content: center;
    align-items: center;


}
.g12{
    grid-column: span 12;
}
.g6{
    grid-column: span 6;
}
.g4{
    grid-column: span 4;
}
.g3{
    grid-column: span 3;
}
.g2{
    grid-column: span 2;
}

