body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;

}
.container{
    background: #222;
    padding: 20px;
    border-radius: 20px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 0 20px black;

}
.light{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;

}
.red{
    animation: red 15s infinite
}
.yellow{
    animation: yellow 15s infinite;
}
.green{
    animation: green 15s infinite;
}
@keyframes red{
    0%,20%{
        background: red;
        box-shadow: 0 0 50px red;
    }
    21%,79%{
        background: gray;
        box-shadow: none;} 
        81%,100%{
            background: red;
            box-shadow: 0 0 50px red;
        }
}
@keyframes yellow{
    20%,30%{
        background: yellow;
        box-shadow: 0 0 50px yellow;
    }
    31%,70%{
        background: gray;
        box-shadow: none;
    }
    71%,80%{
        background: yellow;
        box-shadow: 0 0 50px yellow;
    }
    81%,100%{
        background: gray;
        box-shadow: none;
    }

}
@keyframes green{
    0%,30%{
        background: gray;
        box-shadow: none;
    }
    31%,60%{
        background: green;
        box-shadow: 0 0 50px green;
    }
    61%{background: gray; box-shadow: none;}
    63%{
        background: green;
        box-shadow: 0 0 50px green;}
        65%{background: gray; box-shadow: none;}
        67%{
            background: green;
            box-shadow: 0 0 50px green;}
            70%,100%{
                background: gray;
                box-shadow:  none;
            }

    }
